<footer class="site-footer">
    <div class="wrapper">

        <ul class="info-contato">
            <li>
                <i class="fa fa-phone"></i>
                <span>(21)####-####</span>
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                <a href="mailto:#">#####@######.com</a>
            </li>
            <li>
                <i class="fa fa-home"></i>
                <span>
                    Av Marechal Camara, 160.<br>
                    Centro, Rio de Janeiro
                </span>
            </li>
        </ul>        

        <span class="flex-spacer"></span>
        <div class="fb-page" 
          data-href="https://www.facebook.com/usabitdigital"
          data-width="380" 
          data-height="70"
          data-hide-cover="false"
          data-show-facepile="false" 
          data-show-posts="false"></div>

    </div>
</footer>

<script src="{{site.baseurl}}/assets/libs/jquery/dist/jquery.js"></script>
<script src="{{site.baseurl}}/assets/libs/jquery-ui/jquery-ui.js"></script>
<script src="{{site.baseurl}}/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>

<script src="{{site.baseurl}}/assets/js/main.js"></script>