<div class="media-helper">
    <div class="xs">xs</div>
    <div class="sm">SM</div>
    <div class="md">MD</div>
    <div class="lg">LG</div>
    <div class="hd">HD</div>
</div>


<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/">
            <img src="{{site.baseurl}}/assets/img/logo-header.png" alt="">
        </a>

        <span class="flex-spacer"></span>

        <nav class="site-nav">
            <a href="#" class="menu-icon">
                <i class="fa fa-bars"></i>
                <i class="fa fa-close"></i>
            </a>

            <div class="responsive-menu"></div>

            <div class="trigger">
                {% assign sorted_pages = site.pages | sort:"order" %} {% for my_page in sorted_pages %} {% if my_page.title %}
                <a class="page-link {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                {% endif %} {% endfor %}
            </div>
        </nav>

    </div>

</header>